<?xml version="1.0" encoding="windows-1251" ?>
<web-app
  id="WebApp_ID" version="3.0"
  xmlns="http://java.sun.com/xml/ns/j2ee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Test app</display-name>
  <description>Test application</description>
  <servlet>
    <servlet-name>testapp</servlet-name>
    <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
    <init-param>
      <param-name>UI</param-name>
      <param-value>test.TestUI</param-value>
    </init-param>
	<async-supported>true</async-supported>    
  </servlet> 
  
  <servlet-mapping>
    <servlet-name>testapp</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
</web-app>